<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="BREPipelineFramework.JSONInstructions" Language="1033" Version="1.0.0.0" Manufacturer="BRE Pipeline Framework Codeplex team" UpgradeCode="c09ff75a-714a-4564-be53-e41feb8fe21f">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="BREPipelineFramework.JSONInstructions" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="BREPipelineFramework.JSONInstructions" />
			</Directory>
		</Directory>
	</Fragment>

  <Fragment>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->

      <Component Id="BREPipelineFramework.JSON" Guid="*">
        <File Id="Level0" Name ="BREPipelineFramework.JSON.dll" KeyPath ="yes" Vital="yes"
              Source='./Assemblies/BREPipelineFramework.JSON.dll' Checksum="yes" Assembly=".net" AssemblyManifest="Level0">
        </File>
      </Component>

      <Component Id="BREPipelineFramework.JSONInstructions.1.0" Guid="*">
        <File Id="Level1" Name ="BREPipelineFramework.JSONInstructions.1.0.xml" KeyPath ="yes" Vital="yes"
              Source='../../BRE Artifacts/Vocabularies/BREPipelineFramework.JSONInstructions.1.0.xml' >
        </File>
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>